<div id='background'></div>
<div class='navbar navbar-fixed-top'>
  <nav class='navbar-inner header'>
    <div class='container'>
      <div class='brand'>
        ISAAC NDERI ONYANGO <i class="fa fa-cloud" style="text-shadow: 1px 1px white, -1px -1px #666;"></i>
      </div>

      <ul class='nav pull-right'>
        <li>
          <%= link_to "Languages", languages_path %>
        </li>
        <li>
          <a class='nav-link'>
            Other Skills
          </a>
        </li>
        <li>
          <a class='nav-link'>
            Blog
          </a>
        </li>
        
      </ul>
      <div class='triangle-down center'>
        <p>
          <i class='fa fa-chevron-down fa-2x isDown' id='toggle'></i>
        </p>
      </div>
    </div>
  </nav>
  
</div>
<div id='content'>
  <div class='row-fluid'>
    <div class='span12' style='background-color:rgba(0, 0, 0, .8);'>
      <div class='row-fluid'>
        <div class='span4 offset4'>
          <br>
          <h1 class='threed text-center' style='letter-spacing:4px'>
            MY PORTFOLIO
          </h1>
        </div>
      </div>
      <div class='row-fluid'>
        <div class='span4 offset4'>
          <h1 class='threed text-center' style='letter-spacing:10px;margin-top:-30px;'>
          
          </h1>
        </div>
      </div>
      <div class='row-fluid'>
        <div class='span6 text-right'>
          <div class='row-fluid'>
            <h2 class='threed'>
              About me
            </h2>
          </div>
          <div class='row-fluid'>
            <h4>
              Lorem ipsum dolor sit amet, quodsi impedit neglegentur id mea. Solum quando ubique has eu. Eu usu latine nostrud, sit temporibus suscipiantur id. Quo nulla aliquid deterruisset eu, id legere vidisse per, sed saperet consulatu deterruisset ne.
            </h4>
          </div>
          <br>
          <div class='row-fluid'>
            <div class='btn'>
              CLICK ME
              <i class='fa fa-heart'></i>
            </div>
          </div>
        </div>
        <div class='span6 text-left'>
          <div class='span5 text-center'>
            <i class='fa fa-cloud' id='big-cloud' style='text-shadow: 1px 1px white, -1px -1px #666;'></i>
          </div>
          <div class='span6 text-left'>
            <h5>Lorem ipsum dolor sit amet, quodsi impedit neglegentur id mea. Solum quando ubique has eu. Eu usu latine nostrud, sit temporibus suscipiantur id. Quo nulla aliquid deterruisset eu, id legere vidisse per, sed saperet consulatu deterruisset ne.</h5>
            <h5>Lorem ipsum dolor sit amet, quodsi impedit neglegentur id mea. Solum quando ubique has eu. Eu usu latine nostrud, sit temporibus suscipiantur id.</h5>
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>
  <br>
  
  <br>
  <div class='row-fluid'>
    <div class='span12' style='background-color:rgba(0, 0, 0, .8);'>
      <div class='span6'>
        <div class='row-fluid'>
         <h2>GET IN TOUCH</h2>
          <div class='span1 text-center'>
            <h3>
              <i class="fa fa-skype text-left"></i>
            </h3>
          </div>
          <div class='span11 text-right'>
            <h3>
              + 254 727 910 312
            </h3>
          </div>
        </div>
        <div class='row-fluid'>
          <div class='span1 text-center'>
            <h3>
              <i class="fa fa-envelope text-left"></i>
            </h3>
          </div>
          <div class='span11 text-right'>
            <h3>
              nderiony95@gmail.com
            </h3>
          </div>
        </div>
        <div class='row-fluid'>
          <div class='span1 text-center'>
            <h3>
              <i class="fa fa-twitter text-left"></i>
            </h3>
          </div>
          <div class='span11 text-right'>
            <h3>
              @iyke_254
          </div>
        </div>
        <div class='row-fluid'>
          <div class='span1 text-center'>
            <h3>
              <i class="fa fa-facebook text-left"></i>
            </h3>
          </div>
          <div class='span11 text-right'>
            <h3>
              FACEBOOK.COM/ISAAC NDERI
            </h3>
          </div>
        </div>
      </div>
     
    </div>
  </div>
</div>
<!-- /cloud footer :) -->
<div class='navbar navbar-fixed-bottom'>
  <nav class='navbar-inner footer'></nav>
</div>
<br>
<br>
<br>
<br>