<div class="container">
	<h1> Languages Proficient </h1>
	<hr />
</div>


<ul>
	<% @languages.each do |language| %>
		<li><%= link_to language.name, language_path(language) %></li>
	<% end %>
</ul>	

<hr>
<% if current_user && current_user.is_admin? %>
	<%= link_to "New language", new_language_path %>
<% end %>  